@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "MenuList";
}
@model IEnumerable<Menu>

<div class="row justify-content-center">
    <div class="col-6 col-sm-4">
        <h1>
            Tasty Dots... Menu
        </h1>
    </div>
</div>




@foreach (var dish in Model)
{
    <form>
        <div class="row g-3 justify-content-center mt-5 align-items-center">
            <div class="col-4 col-sm-2">
                <img src="~/images/@dish.Image"
                     class="img-thumbnail"
                     height="150" width="150"
                     asp-append-version="true" />
            </div>
            <div class="col-6 col-sm-4">
                DishId: <input type="text" readonly class="form-control" asp-for="@dish.DishId">
                DishName: <input type="text" readonly class="form-control" asp-for="@dish.DishName">
                Quantity: <input type="number" class="form-control" id="qnty">
                Price: <input type="number" readonly class="form-control" id="pr" asp-for="@dish.Price">
            </div>
        </div>
    </form>
    <div class="row justify-content-center">
        <div class="col-4 col-sm-2">
            <a class="btn btn-success mt-3 text-white" id="pri" asp-action="AddItem" asp-route-Id="@dish.DishId">Ad</a>
            <a class="btn btn-success mt-3 text-white" onclick="updatePrice(@dish.Price, document.getElementById('qnty').value)">Add</a>
        </div>
    </div>
}
<div class="row justify-content-end">
    <div class="col-12">
        <a type="submit" class="btn btn-info fa-pull-right" asp-controller="Customer" asp-action="PlaceOrder">Place Order</a>
    </div>
</div>


@section scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    <script type="text/javascript">
    $("#pri").click(function () {
        tempPrice = document.getElementById('pr').value;
        qnt = document.getElementById('qnty').value;
        var url = '@Url.Action("PriceUpdate", "Customer")';
        $.ajax({
            url: url,
            type: 'GET',
            cache: false,
            data: { price: tempPrice, qnty: qnt },

            success: function (result) {
                $('#result').html(result);
                alert(result.foo + result.ball);
            }
        });
    };
    </script>
}

@*@section scripts{
        <script type="text/javascript">
            $(document).ready(function () {
                $("#btnPrice").click(function () {
                    var f = {};
                    f.url = '@Url.Action("PriceUpdate", "Customer")';
                    f.type = "Post";
                    f.dataType = "json";
                    f.data = JSON.stringify({ Price: tempPrice });
                    f.contentType = "application/json";
                    f.success = function (reponse) {
                        alert("Success")
                    }
                    f.error = function (response) {
                        alert("failed");
                    }
                    $.ajax(f);
                })
            })
        </script>
    }*@






@*

        <!--@foreach (var dish in Model)
        {
            <div class="row justify-content-center">
                <div class="col-12 col-sm-6">
                    <img src="~/images/@dish.Image"
                         class="img-thumbnail"
                         height="150" width="150"
                         asp-append-version="true" />
                </div>
                <div class="col-12 col-sm-6">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">DishId: <label class="col-form-label" asp-for="@dish.DishId">@dish.DishId</label></li>
                        <li class="list-group-item">DishName: <label class="col-form-label" asp-for="@dish.DishName">@dish.DishName</label></li>
                        <li class="list-group-item">Quantity: <input type="number" class="form-control" asp-for="@dish.Stock" value="0"></li>
                        <li class="list-group-item">Price: <label class="form-control" asp-for="@dish.Price">@dish.Price</label></li>
                        <li class="list-group-item">
                            <asp-Button class="btn btn-primary" OnClick=""></asp-Button>-->
                            @*<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#cartModal">
                                Add to Cart
                            </button>
    <!--</li>
            </ul>
        </div>
    </div>-->
    <!-- Modal -->
    <!--<div class="modal fade" id="cartModal" tabindex="-1" aria-labelledby="cartModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="cartModalLabel">@dish.Category</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i class="fa fa-times"></i></button>
                </div>
                <form method="post" asp-action="Cart">
                    <div class="modal-body">
                        <div class="row justify-content-center">
                            <div class="col-12 col-sm-6">
                                <img src="~/images/@dish.Image"
                                     class="img-thumbnail"
                                     height="150" width="150"
                                     asp-append-version="true" />
                            </div>
                            <div class="col-12 col-sm-6">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">DishId: <label class="col-form-label" asp-for="@dish.DishId">@dish.DishId</label></li>
                                    <li class="list-group-item">DishName: <label class="col-form-label" asp-for="@dish.DishName">@dish.DishName</label></li>
                                    <li class="list-group-item">Quantity: <input type="number" class="form-control" asp-for="@dish.Stock" value="0"></li>
                                    <li class="list-group-item">Price: <input class="form-control" asp-for="@dish.Price" placeholder="@dish.Price" readonly></input></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-primary" value="Add"/>
                    </div>
                </form>
            </div>
        </div>
    </div>-->
    <!--}-->
*@
